<div class="container-fluid">
  <div class="logo-container text-center mt-4 mb-2">
    <img style="width: 250px;" src="assets/images/logo2.png" alt="khiffa logo">
  </div>
  <form class="mx-auto mb-4">
    <h4 class="text-center mb-3">إنشاء حساب</h4>

    <div class="mb-3" style="width: 670.48px; text-align: right; color: #808080; font-size: 12px; line-height: 20px; word-wrap: break-word">الرجاء إرفاق جميع المتطلبات مع أحدث نسخة</div>
    <div class="row g-3">
    <div class="col-md-6 mb-3 ">
      <label for="inputname" class="form-label">الاسم الثلاثي</label>
      <input type="text" class="form-control" id="inputname" placeholder="سارة محمد علي" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="inputID" class="form-label">رقم الهوية</label>
      <input type="text" class="form-control" id="inputID" placeholder="1111111111" required>
    </div></div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">البريد الإلكتروني</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="user@gmail.com"required>
    </div>
    <div class="mb-3">
      <label for="inputPhone" class="form-label">رقم الجوال</label>
      <input type="text" class="form-control" id="inputPhone" placeholder="551113333"required>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">كلمة المرور</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="35k#Lj223"required>
    </div>
    <!-- <button type="submit" class="btn btn-primary mt-3">إكمال التسجيل</button> -->
    <a type="submit" href="auth/attach-file" class="btn btn-primary mt-3">إكمال التسجيل</a>
  </form>
</div>

