html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.out-container {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 90%;
  max-width: 240px;
  height: auto;
}

form {
  width: 80%;
  max-width: 500px;
  background-color: white;
  padding: 25px;
  border-radius: 29px;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.08);
  margin: auto;
}

.form-control:focus {
  border-color: #FF204E;
  box-shadow: none;
}

.form-control::placeholder {
  color: #808080;
  font-size: calc(10px + 0.1vw);
  font-weight: 300;
}

.form-label {
  font-size: calc(11.5px + 0.1vw);
  font-weight: 500;
  word-wrap: break-word;
}

.form-control {
  font-size: calc(11.5px + 0.1vw);
}

.btn-primary {
  width: 100%;
  background-color: #A0153E;
  border-radius: 8px;
  border-style: none;
}

h4 {
  color: #00224D;
  font-size: calc(19px + 0.5vw);
  word-wrap: break-word;
}

.error-message {
  background-color: pink;
  color: #A0153E;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.validation-error {
  color: #FF204E;
  font-size: calc(10px + 0.1vw);
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  form {
    width: 85% !important;
  }
}
