<div class="out-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="text-center mb-4">
      <img src="assets/images/driver profile.png" class="rounded-circle" alt="User Image" width="150" height="150">
      <h4>محمد سعيد الحربي</h4>

      <div class="text-center mt-4">
        <button class="btn btn-custom" (click)="navigateToEditProfile()">تحديث المرفقات</button>
      </div>
    </div>
    <div class="mb-3 text-end">
      <label for="idNumber" class="form-label">رقم الهوية</label>
      <input type="text" class="form-control text-end" id="idNumber" formControlName="idNumber" readonly>
    </div>
    <div class="mb-3 text-end">
      <label for="email" class="form-label">الإيميل</label>
      <div class="input-group">
        <input type="email" class="form-control text-end" id="email" formControlName="email">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-pencil"></i>
        </button>
      </div>
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation-error">
        <div *ngIf="form.get('email')?.errors?.['required']">البريد الإلكتروني مطلوب</div>
        <div *ngIf="form.get('email')?.errors?.['email']">أدخل بريد إلكتروني صحيح</div>
      </div>
    </div>
    <div class="mb-3 text-end">
      <label for="phoneNumber" class="form-label">رقم الجوال</label>
      <div class="input-group">
        <input type="text" class="form-control text-end" id="phoneNumber" formControlName="phoneNumber">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-pencil"></i>
        </button>
      </div>
      <div *ngIf="form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid" class="validation-error">
        <div *ngIf="form.get('phoneNumber')?.errors?.['required']">رقم الجوال مطلوب</div>
        <div *ngIf="form.get('phoneNumber')?.errors?.['pattern']">رقم الجوال غير صالح</div>
      </div>
    </div>
    <div class="mb-3 text-end">
      <label for="ibanNumber" class="form-label">رقم الإيبان</label>
      <div class="input-group">
        <input type="text" class="form-control text-end" id="ibanNumber" formControlName="ibanNumber">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-plus"></i>
        </button>
      </div>
      <div *ngIf="form.get('ibanNumber')?.invalid && form.get('ibanNumber')?.touched" class="text-danger">
        رقم الإيبان يجب أن يبدأ بـ SA ويكون مكوناً من 24 رقماً.
      </div>
    </div>

   <!-- Display car image -->
   <div class="mb-3 text-end">
    <label for="carImage" class="form-label">صورة السيارة</label>
    <br>
    <img src="assets/images/test1.png" alt="Car Image" class="img-fluid" style="max-height: 200px; max-width: 100%;">
  </div>

  <!-- Display license image -->
  <div class="mb-3 text-end">
    <label for="licenseImage" class="form-label">صورة رخصة القيادة</label>
<br>

    <img src="assets/images/test2.png" alt="License Image" class="img-fluid" style="max-height: 200px; max-width: 100%;">
  </div>

  <button type="submit" class="btn btn-primary">حفظ</button>


</form>
</div>




