<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>تسجيل الدخول</title>
</head>
<body> -->

  <div class="out-container container-fluid">
    <div class="logo-container text-center mt-4 mb-2">
      <img style="width: 250px;" src="assets/images/logo2.png" alt="khiffa logo">
    </div>
    <form class="mx-auto mb-4">
      <h4 class="text-center">تسجيل الدخول</h4>
      <div class="mb-3 mt-5">
        <label for="exampleInputEmail1" class="form-label">البريد الإلكتروني*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="أدخل البريد الإلكتروني">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">كلمة المرور*</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="أدخل كلمة المرور">

      </div>

      <div class="custom-row mb-3 form-check">
        <div class="checkbox-row">
          <input type="checkbox" class="form-check-input mt-0" id="exampleCheck1">

          <label class="form-check-label" style="margin-right: 30px;" for="exampleCheck1">تذكرني</label>

        </div>

      <!-- href -->
        <div id="emailHelp" class="form-text"><a class="clickable-text" href="auth/restore-password-request">هل نسيت كلمة المرور؟</a></div>
      </div>

      <a type="submit" class="btn btn-primary mt-2 " >تسجيل الدخول</a>

      <div class="mt-3 text-center">
        <span style=" font-size: 12px;">ليس لديك حساب؟</span>
        <a href="auth/create-account" class="btn btn-link clickable-text">إنشاء حساب</a>
      </div>


    </form>
  </div>


<!-- </body>
</html> -->
