<div class="out-container container-fluid">
  <div class="logo-container text-center mt-4 mb-2">
    <img style="width: 250px;" src="assets/images/logo1.svg" alt="khiffa logo">
  </div>
  <form class="mx-auto mb-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h4 class="text-center">تسجيل الدخول</h4>

    <div *ngIf="errorMessage" id="error-message" class="error-message mt-3">{{ errorMessage }}</div>

    <div class="mb-3 mt-3">
      <label for="email" class="form-label">البريد الإلكتروني*</label>
      <input type="email" formControlName="email" class="form-control" id="email" placeholder="أدخل البريد الإلكتروني">
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="validation-error">
        <div *ngIf="loginForm.get('email')?.errors?.['required']">البريد الإلكتروني مطلوب</div>
        <div *ngIf="loginForm.get('email')?.errors?.['email']">أدخل بريد إلكتروني صحيح</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">كلمة المرور*</label>
      <input type="password" formControlName="password" class="form-control" id="password" placeholder="أدخل كلمة المرور">
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="validation-error">
        <div *ngIf="loginForm.get('password')?.errors?.['required']">كلمة المرور مطلوبة</div>
      </div>
    </div>

    <div class="custom-row mb-3 form-check">
      <div class="checkbox-row">
        <input type="checkbox" class="form-check-input mt-0" id="rememberMe" formControlName="rememberMe">
        <label class="form-check-label" style="margin-right: 30px;" for="rememberMe">تذكرني</label>
      </div>
      <div id="emailHelp" class="form-text">
        <a class="clickable-text" routerLink="/auth/forget-password">هل نسيت كلمة المرور؟</a>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2">تسجيل الدخول</button>

    <div class="mt-3 text-center">
      <span style="font-size: calc(12px + 0.1vw);">ليس لديك حساب؟</span>
      <a routerLink="/auth/create-account" class="btn btn-link clickable-text">إنشاء حساب</a>
    </div>
  </form>
</div>
