// .request-info {
//   color: #170F49;
//   text-align: center;
// }

// .request-button {
//   background-color: rgba(160, 21, 62, 0.5);
//   border-radius: 8px;
//   color: white;
//   border: none;
//   padding: 10px 20px;
//   display: block;
//   margin: 0 auto;
// }

.balance-card {
  position: relative;
  display: inline-block;
}

.balance-card-image {
  width: 312px;
  height: 189px;
}

.balance-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -60%);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.balance-subtext {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
}








.full-width {
  width: 100%; /* Ensures the table is full width */
}

.table-responsive {
  margin: auto; /* Center the table horizontally */
}

















.container {
  width: 100%; /* Adjust width as needed */
  padding: 20px; /* Optional padding for visual spacing */
}

.request-button {
  background-color: rgba(160, 21, 62, 0.5); /* Adjust color as needed */
  border-radius: 8px;
  color: white;
  border: none;
  padding: 10px 20px;
  display: inline-block; /* Align button inline with text */
  margin: 0; /* Adjust margin to control spacing */
}

.balance-card {
  display: inline-block;
  position: relative;
}

.balance-card-image {
  width: 100%;
  height: auto; /* Adjust based on your design */
}




 .align-items-center {
  align-items: center;
 }

.justify-content-between {
  justify-content: space-between;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
















