<!--
<div class="container mt-3 direction-ltr" >
  <div class="row justify-content-between align-items-center">
    <div class="col-md-6 text-center">
      <p class="request-info">يمكن طلب تحويل المبلغ عندما يكون فوق 200 ريال</p>
      <button class="btn btn-primary request-button" (click)="requestTransaction()">طلب تحويل المبلغ</button>
    </div>
    <div class="col-md-6 text-center">
      <div class="balance-card">
        <img src="assets\images\driver wallet.png" alt="صيد مندوب خفّة" class="balance-card-image">
        <div class="balance-text">ر.س. {{wallet[0].amount}}</div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12"> -->
      <!-- <table class="table table-hover text-end direction-ltr">
        <thead>
          <tr>
            <th scope="col">المبلغ</th>
            <th scope="col">مزود الخدمة</th>
            <th scope="col">الشركة</th>
            <th scope="col">التاريخ</th>
            <th scope="col">معرّف الطلب</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions_fake">
            <td>{{ transaction.amount }} ر.س.</td>
            <td>{{ transaction.company }}</td>
            <td>{{ transaction.provider }}</td>
            <td>{{ transaction.date }} {{ transaction.time }}</td>
            <td>{{ transaction.id }}</td>
          </tr>
          <tr *ngIf="transactions_fake.length == 0">
            <td colspan="5" class="text-center mt-2">
              <p>لا توجد بيانات حاليًا</p>
            </td>
          </tr>
        </tbody>
      </table> -->
    <!-- </div>
  </div> -->







  <div class="container  " style="display: flex;flex-direction: column;">
    <input type="text" class="form-control bg-white" placeholder="بحث" aria-label="Username"
      (keyup)="applyFilter(applyFilterInput)" aria-describedby="basic-addon1" [(ngModel)]="applyFilterInput">
    <br>

    <div class="row">
      <!-- <ng-select [items]="cars" bindLabel="name" bindValue="id" [(ngModel)]="selectedCar">
      </ng-select> -->
    </div>

    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell *matCellDef="let emp">{{ emp.id }}</td>
      </ng-container>
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>first_name</th>
        <td mat-cell *matCellDef="let emp">{{ emp.first_name }}</td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>last_name</th>
        <td mat-cell *matCellDef="let emp">{{ emp.last_name }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
        <td mat-cell *matCellDef="let emp">{{ emp.email }}</td>
      </ng-container>
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>avatar</th>
        <td mat-cell *matCellDef="let emp">{{ emp.avatar }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
    </table>
    <mat-paginator (page)="changePage($event)" [length]="totalData" [pageSizeOptions]="pageSizes"
      showFirstLastButtons></mat-paginator>
  </div>
