
<div class="container mt-3 direction-ltr" >
  <div class="row justify-content-between align-items-center">
    <div class="col-md-6 text-center">
      <p class="request-info">يمكن طلب تحويل المبلغ عندما يكون فوق 200 ريال</p>
      <button class="btn btn-primary request-button" (click)="requestTransaction()">طلب تحويل المبلغ</button>
    </div>
    <div class="col-md-6 text-center">
      <div class="balance-card">
        <img src="assets\images\driver wallet.png" alt="صيد مندوب خفّة" class="balance-card-image">
        <div class="balance-text">ر.س. {{wallet[0].amount}}</div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <table class="table table-hover text-end direction-ltr">
        <thead>
          <tr>
            <th scope="col">المبلغ</th>
            <th scope="col">مزود الخدمة</th>
            <th scope="col">الشركة</th>
            <th scope="col">التاريخ</th>
            <th scope="col">معرّف الطلب</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.amount }} ر.س.</td>
            <td>{{ transaction.company }}</td>
            <td>{{ transaction.provider }}</td>
            <td>{{ transaction.date }} {{ transaction.time }}</td>
            <td>{{ transaction.id }}</td>
          </tr>
        </tbody>
        <tr *ngIf="transactions.length == 0">
          <td colspan="6" class="text-center mt-2">
            <p>لا توجد بيانات حاليًا</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
