

    <div class="container mt-3 direction-ltr">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <p class="request-info">يمكن طلب تحويل المبلغ عندما يكون فوق 200 ريال</p>
          <div class="balance-card">
            <img src="assets\images\driver wallet.png" alt="صيد مندوب خفّة" class="balance-card-image">
            <div class="balance-text">{{ wallet[0].amount }} ر.س.</div>
          </div>
          <button class="btn btn-primary request-button mt-3"
                  [class.disabled]="!canRequestTransaction"
                  [disabled]="!canRequestTransaction"
                  (click)="requestTransaction()">
            طلب تحويل المبلغ
          </button>
        </div>
      </div>
    </div>




<br>


  <!-- <input type="text" matInput (keyup)="applyFilter($event)" placeholder="بحث"> -->

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 full-width">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>معرّف الطلب</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.id }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>التاريخ</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.date }}</td>
    </ng-container>
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>الشركة</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.company }}</td>
    </ng-container>
    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>مزود الخدمة</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.provider }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>المبلغ</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.amount }} ر.س.</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
