<div class="container-fluid">
  <div class="logo-container text-center mt-4 mb-2">
    <img style="width: 250px;" src="assets/images/logo1.svg" alt="khiffa logo">
  </div>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="mx-auto mb-4">
    <div class="mb-3" *ngFor="let field of fields">
      <label [for]="field.id" class="form-label">{{ field.label }}</label>
      <div id="file-drop-area" (drop)="onFileDrop($event, field.name)" (dragover)="onDragOver($event)">
        <div class="icon"><i class='bx bx-upload'></i></div>
        <span class="drop-text">أرفق ملف أو أسحب ملف</span>
        <input type="file" [id]="field.id" (change)="onFileSelect($event, field.name)" hidden>
        <div class="file-info">
          <button type="button" class="btn btn-upload" (click)="triggerFileInput(field.id)">
            رفع ملف
          </button>
          <div *ngIf="fileNames[field.name]" class="file-name">
            {{ fileNames[field.name] }}
          </div>
        </div>
        <div *ngIf="uploadForm.get(field.name)?.errors?.required && uploadForm.get(field.name)?.touched" class="text-danger">
          هذا الحقل مطلوب.
        </div>
        <div *ngIf="uploadForm.get(field.name)?.errors?.invalidFile && uploadForm.get(field.name)?.touched" class="text-danger">
          الملف غير صالح. يرجى تحميل ملف بصيغة JPEG, PNG, أو PDF وألا يتجاوز حجمه 5MB.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">إنشاء حساب</button>
  </form>
</div>
