.table-container,
.requests-table-container {
  background-color: var(--white-color);
  border-radius: 0.5rem;
  padding: 1.5rem 1.2rem 2.5rem;
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
}

.table-container {
  margin-bottom: 2rem; /* مسافة إضافية أسفل القسم */
}

.divider {
  border-top: 1px solid #ccc;
  margin: 0.5rem 0;
}

label {
  font-weight: 500;
  color: var(--title-color);
  font-size: 1.2rem;
  text-align: right; /* محاذاة النص لليمين */
  display: block;
}

.table {
  width: 100%;
}

.table td, .table th {
  padding: 0.5rem;
  vertical-align: middle;
}

.table td {
  border-bottom: 1px solid #ddd;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

i.bx {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--primary-color);
}

i.bx:hover {
  color: var(--secondary-color);
}
