
<div class="logo-container text-center mt-4 mb-2">
  <img style="width: 250px;" src="assets/images/logo1.svg" alt="khiffa logo">
</div>
<form class="mx-auto mb-4">
  <h4 class="text-center">أدخل رمز OTP</h4>

  <div class="userInput mt-3 mb-3">
    <ng-otp-input class="each-input"
    [config]="{
      length : 6,
      allowNumbersOnly: true,
    inputStyles: {
      'border-radius': '0.5rem',
      'border': 'none',
      'background': '#D9D9D9',
      'margin':'0 3px'
 }}"
    #ngOtpInput>
    </ng-otp-input>
</div>


  <button (click)="submitOtp()" type="submit" class="btn btn-primary mt-4 ">تحقق</button>
  <button (click)="resendOtp()" type="submit" class="btn btn-primary mt-2 ">أعد إرسال رمز OTP</button>
</form>
