<div class="container-fluid">

  <form class="mx-auto mb-3">
    <h4 class="text-center mb-2">عرض تذكرة</h4>

    <div class="mb-3" style="width: 670.48px; text-align: right; color: var(--gray-color); font-size: 12px; line-height: 20px; word-wrap: break-word">الرجاء إرفاق جميع المتطلبات مع أحدث نسخة</div>
    <div class="row g-3">
      <div class="col-md-6 mb-3">
        <label for="inputname" class="form-label">العنوان</label>
        <input type="text" formControlName="name" class="form-control" id="inputname" placeholder="">
      </div>

    </div>
    <a type="submit" class="btn btn-primary mt-2" routerLink="tecket-info">تحديث حالة الطلب</a>
  </form>
</div>
