
.page-item {
  margin: 0 0.1rem;
}

.page-link {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--primary-color);
  background-color: primary-color;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  background-color: #e9ecef;
}

.page-item.active .page-link {
  background-color:var(--primary-color);
  border:none;
  color: #fff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
}
