<div class="out-container">
  <form>
    <div class="text-center mb-4">
      <h4>لم يتم إكمال متطلبات إنشاء الحساب</h4>
      <img src="\assets\images\not-active.png" alt="Descriptive Image" style="width: 200px; height: auto; margin-top: 20px;">
    </div>
    <div class="text-center mb-4">
      <div class="confirmation-text" style="background-color: #FADADD; color: #A0153E; padding: 10px; border-radius: 25px; font-size: 16px; margin-bottom: 20px;">
        الاسم الثلاثي لايطابق رخصة القيادة
      </div>
    </div>
    <button type="submit" class="btn btn-primary">صفحة إنشاء الحساب</button>
  </form>
</div>
