
<div class="d-flex justify-content-between">
  <div class="custom-card">
    <div class="card-title">إجمالي عدد التذاكر</div>
    <div class="card-number">700 تذكرة</div>
    <div class="card-icon">
        <div class="icon-bg">
          <i class="bx bx-clipboard"></i>
        </div>
    </div>
</div>
</div>


<div class="d-flex justify-content-between">
  <app-stats-card title="عدد التذاكر قيد الانتظار" number="55 تذكرة" icon="bx bxs-hourglass-top"></app-stats-card>

  <app-stats-card title="عدد التذاكر المغلقة" number="55 تذكرة" icon="bx bx-check"></app-stats-card>

  <app-stats-card title="عدد التذاكر تحت المعالجة" number="55 تذكرة" icon="bx bx-loader-circle"></app-stats-card>

  <app-stats-card title="عدد التذاكر المفتوحة" number="55 تذكرة" icon="bx bx-disc"></app-stats-card>
</div>

