
<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="label me-3 mt-3"> قائمة المناديب</div>
        <div class="card-body">
          <app-deliveryman-list [displayCount]="8"></app-deliveryman-list>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="label me-3 mt-3"> طلبات حسابات المناديب</div>
        <div class="card-body">
          <app-deliveryman-requests></app-deliveryman-requests>
        </div>
      </div>
    </div>
  </div>
</div>
