<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-lg-4 mb-3 balance-card-container">
      <div class="balance-card text-center">
        <img src="assets/images/admin-wallet.svg" alt="رصيد خِفَّة" class="balance-card-image img-fluid">
        <div class="balance-text">100 ر.س.</div>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <div class="requests-table-container">
        <label for="">طلبات تحويل الأموال</label>
        <div class="divider"></div>
        <table class="table table-hover text-end">
          <tbody>
            <tr *ngFor="let request of requests">
              <td>{{ request.date }} {{ request.time }}</td>
              <td>{{ request.name }}</td>
              <td>{{ request.amount }} ر.س.</td>
              <td>
                <div class="d-flex justify-content-between gap-2">
                  <i class='bx bx-show-alt' title="عرض الفواتير السابقة" routerLink="../deliveryman-transactions"></i>
                  <i class='bx bx-check-circle' title="تحويل" (click)="approveRequest(request.id)"></i>
                  <i class='bx bx-x-circle' title="رفض" (click)="rejectRequest(request.id)"></i>
                </div>
              </td>
            </tr>
          </tbody>

          <tr *ngIf="requests.length == 0">
            <td colspan="6" class="text-center p-4">
              <p>لا توجد بيانات حاليًا</p>
            </td>
          </tr>

        </table>
        <div *ngIf="requests.length !== 0" class="d-flex justify-content-end">
          <button type="button" class="show-more btn btn-primary" routerLink="../money-transfer-requests">
            < عرض الكل
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="table-container">
        <label for="">أحدث العمليات</label>
        <div class="divider"></div>
        <table class="table table-hover text-end">
          <thead>
            <tr>
              <th scope="col">معرّف العملية</th>
              <th scope="col">التاريخ</th>
              <th scope="col">النوع</th>
              <th scope="col">الاسم</th>
              <th scope="col">المبلغ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.date }} {{ transaction.time }}</td>
              <td>{{ transaction.type }}</td>
              <td>{{ transaction.name }}</td>
              <td>{{ transaction.amount }} ر.س.</td>
            </tr>
          </tbody>


          <tr *ngIf="transactions.length == 0">
            <td colspan="6" class="text-center p-4">
              <p>لا توجد بيانات حاليًا</p>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>

  <!-- <div class="row mt-3">
    <div class="col-12 text-center">
      <app-pagination
        [total_items]="transactions.length"
        [current_page]="current_page"
        [items_per_page]="items_per_page"
        (onClick)="handlePageClick($event)">
      </app-pagination>
    </div>
  </div> -->
</div>
