<div class="container request-detail-container">
  <div class="row mb-4 justify-content-between text-right">
    <div class="col-auto">
      <p><strong>الاسم</strong><br>{{ request.name }}</p>
      <p><strong>البريد الإلكتروني</strong><br>{{ request.email }}</p>
    </div>
    <div class="col-auto">
      <p><strong>رقم الهوية</strong><br>{{ request.idNumber }}</p>
      <p><strong>رقم الجوال</strong><br>{{ request.phoneNumber }}</p>
    </div>
    <div class="col-auto justify-content-end">
      <p><strong>المرفقات</strong></p>
      <div class="d-flex justify-content-center">
        <div class="attachment-container" *ngFor="let attachment of request.attachments; let i = index" (click)="open(i)">
          <img [src]="attachment.url" alt="attachment" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <hr>
    </div>
  </div>

  <ng-container [ngSwitch]="request.type">
    <div *ngSwitchCase="1" class="row mb-4 text-center">
      <div class="col-12 d-flex flex-column align-items-center">
        <button class="btn btn-primary w-100 mb-2">تفعيل الحساب</button>
        <button class="btn btn-outline-secondary w-100">رفض</button>
      </div>
    </div>

    <div *ngSwitchCase="2" class="row mb-4 text-center">
      <div class="col-12">
        <p><strong>طلب تعديل</strong></p>
        <div class="attachment-container">
          <img [src]="request.modificationRequest.url" alt="amendment attachment" class="img-fluid" (click)="open(0)">
        </div>
      </div>
      <div class="col-12 d-flex flex-column align-items-center">
        <button class="btn btn-primary w-100 mb-2">قبول</button>
        <button class="btn btn-outline-secondary w-100">رفض</button>
      </div>
    </div>

    <div *ngSwitchCase="3" class="row mb-4 text-center">
      <div class="col-12 d-flex flex-column align-items-center">
        <button class="btn btn-outline-secondary w-100">تعطيل الحساب</button>
      </div>
    </div>

  </ng-container>
</div>
