// @import "~bootstrap/dist/css/bootstrap.min.css";
// @import "~bootstrap-icons/font/bootstrap-icons.css";
// @import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');



$primary-color: #A0153E;

.text-primary {
  color: $primary-color !important;
}

.bg-primary {
  background-color: $primary-color !important;
}

.container {
  max-width: 1020px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.step.active span {
  color: black;
}

.step span {
  margin-top: 5px;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover,
  &:active {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}

.service-provider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;

}

// .service-provider-card,
.timeline-card,
.map-card,
.delivery-info-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.service-provider-info {
  text-align: left;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.timeline {
  list-style-type: none;
  padding: 0;
  position: relative;

  li {
    padding: 10px 0;
    border-left: 2px solid #d9d9d9;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;

    &.completed {
      border-left-color: $primary-color;

      &::before {
        background: $primary-color;
      }
    }

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #d9d9d9;
      position: absolute;
      left: -7px;
      top: 12px;
    }
  }
}

.card-text i {
  color: $primary-color;

}
.container {
  max-width: 1020px; /* Adjust this if necessary to fit your design */
}

/* Ensure that columns inside rows are centered */
.row {
  justify-content: center;
}
