
<div class="w-full p-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">

    <div class="bg-white p-6 rounded-lg shadow-md text-center relative">
      <p class="text-m font-medium mb-2 text-blue-500">إجمالي عدد المناديب</p>
      <p class="text-xl font-medium mb-4">1000 مندوب</p>
      <div class="icon-container">
        <div class="icon-bg">
          <i class='bx bxs-user'></i>
        </div>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md text-center relative">
      <p class="text-m font-medium mb-2 text-blue-500">عدد مزودي خدمة شركة لذّة</p>
      <p class="text-xl font-medium mb-4">300 مطعم</p>
      <div class="icon-container">
        <div class="icon-bg">
          <i class='bx bx-restaurant'></i>
        </div>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md text-center relative">
      <p class="text-m font-medium mb-2 text-blue-500">عدد مزودي خدمة شركة غَدَف</p>
      <p class="text-xl font-medium mb-4">300 مطعم</p>
      <div class="icon-container">
        <div class="icon-bg">
          <i class='bx bx-leaf'></i>
        </div>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md text-center relative">
      <p class="text-m font-medium mb-2 text-blue-500">عدد مزودي خدمة شركة سهّل</p>
      <p class="text-xl font-medium mb-4">30 متجر</p>
      <div class="icon-container">
        <div class="icon-bg">
          <i class='bx bx-store'></i>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="w-full p-4 flex">

    <div class="flex-none h-14 w-2/5">
      <label class="font-medium">المنطقة</label>
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn m-1 bg-white text-black">الكل
        <i class="bx bxs-down-arrow dropdown-icon transition-transform duration-300"></i>
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-white rounded-box w-52 p-2 shadow">
          <li><a>مكة</a></li>
          <li><a>جدة</a></li>
          <li><a>الكل</a></li>
        </ul>
      </div>
  </div>


  <div class="w-3/5 shrink h-14">
      <label class="font-medium">الفترة الزمنية</label>

      <label class="font-medium">من</label>


      <label class="font-medium">إلى</label>
</div>


<div class="w-full p-4">
  <div class="w-2/3 ...">
    <label class="font-medium">عدد الطلبات لكل شركة</label>
  </div>
  <div class="w-1/3 ...">
    <label class="font-medium">إجمالي عدد الطلبات</label>
  </div>
</div>









