
<div class="d-flex justify-content-between mb-4">
  <app-stats-card title="إجمالي عدد المناديب" number="1000 مندوب" icon="bx bxs-user"></app-stats-card>

  <app-stats-card title="عدد مزودي خدمة شركة لذّة" number="300 مطعم" icon="bx bx-restaurant"></app-stats-card>

  <app-stats-card title="عدد مزودي خدمة شركة غَدَف" number="300 مطعم" icon="bx bx-leaf"></app-stats-card>

  <app-stats-card title="عدد مزودي خدمة شركة سهّل" number="30 متجر" icon="bx bx-store"></app-stats-card>
</div>


<div class="d-flex mb-4">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      الكل
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">مكة</a>
      <a class="dropdown-item" href="#">جدة</a>
      <a class="dropdown-item" href="#">الكل</a>
    </div>
  </div>
</div>



