.icon-container {
  position: absolute;
  bottom: -20px; /* Adjust this value to control how much of the icon is outside the card */
  left: 50%;
  transform: translateX(-50%);
}

.icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--icon-background-color);
  border-radius: 8px;
}

.icon-bg i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.text-blue-500 {
  color:var(--title-color);
}

.font-medium {
  font-weight: 500;
}


.dropdown[aria-expanded="true"] .dropdown-icon {
  transform: rotate(180deg);
}

label{
  color: var(--title-color);
}
