<!-- <app-login></app-login> -->


<!-- <app-create-account></app-create-account> -->
<router-outlet></router-outlet>

<!-- <app-attach-file></app-attach-file> -->




<!-- <app-otp-code></app-otp-code> -->



<!--
<mat-drawer-container>

  <mat-drawer mode="side" opened="true">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container> -->

<!-- <app-dashboard></app-dashboard> -->
