<div class="requests-table-container row">
  <div class="col-12">
    <table class="table table-hover text-end">
      <thead>
        <tr>
          <th>معرّف الطلب</th>
          <th>الاسم</th>
          <th>نوع الطلب</th>
          <th>التاريخ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-items-center align-middle m-0 p-0" *ngFor="let request of displayRequests">
          <td>{{ request.id }}</td>
          <td>{{ request.email }}</td>
          <td>{{ request.otp }}</td>
          <td>{{ request.created_at | date }}</td>
          <td>
            <div class="flex-d justify-content-between gap-4">
              <a type="button" class="view btn btn-info btn-sm btn-rounded w-25" (click)="viewRequestDetails(request.id)">
                <i class="bx bx-show"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tr *ngIf="displayRequests.length == 0">
        <td colspan="6" class="text-center mt-2">
          <p>لا توجد بيانات حاليًا</p>
        </td>
      </tr>
    </table>
    <div *ngIf="displayRequests.length !== 0" class="d-flex justify-content-end mt-2">
      <a class="show-more btn btn-secondary" routerLink="../all-deliveryman-requests">
      <  عرض الكل
      </a>
    </div>
  </div>
</div>
