<div class="requests-table-container row">
  <div class="col-12">
    <table class="table table-hover text-end">
      <thead>
        <tr>
          <th>معرّف المندوب</th>
          <th>الاسم</th>
          <th>نوع الطلب</th>
          <th>التاريخ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-items-center align-middle m-0 p-0" *ngFor="let request of displayRequests">
          <td>{{ request.id }}</td>
          <td>{{ request.email }}</td>
          <td>{{ request.requestType }}</td>
          <td>{{ request.created_at | date }}</td>
          <td>
            <div class="flex-d justify-content-between gap-4">
              <a type="button" class="view btn btn-info btn-sm btn-rounded w-25" (click)="viewRequestDetails(request)">
                <i class="bx bx-show"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tr *ngIf="displayRequests.length == 0">
        <td colspan="6" class="text-center mt-2">
          <p>لا توجد بيانات حاليًا</p>
        </td>
      </tr>
    </table>
    <div *ngIf="displayRequests.length !== 0" class="d-flex justify-content-end mt-2">
      <a class="show-more btn btn-secondary" routerLink="../all-deliveryman-requests">
      <  عرض الكل
      </a>
    </div>
  </div>
</div>


<!-- mat -->
<!-- <div class="container  " style="display: flex;flex-direction: column;">
  <input type="text" class="form-control bg-white" placeholder="بحث" aria-label="Username"
    (keyup)="applyFilter(applyFilterInput)" aria-describedby="basic-addon1" [(ngModel)]="applyFilterInput">
  <br>

  <div class="row">
     <ng-select [items]="cars" bindLabel="name" bindValue="id" [(ngModel)]="selectedCar">
    </ng-select>
  </div>

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
      <td mat-cell *matCellDef="let emp">{{ emp.id }}</td>
    </ng-container>
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>first_name</th>
      <td mat-cell *matCellDef="let emp">{{ emp.first_name }}</td>
    </ng-container>
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>last_name</th>
      <td mat-cell *matCellDef="let emp">{{ emp.last_name }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
      <td mat-cell *matCellDef="let emp">{{ emp.email }}</td>
    </ng-container>
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>avatar</th>
      <td mat-cell *matCellDef="let emp">{{ emp.avatar }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
  </table>
  <mat-paginator (page)="changePage($event)" [length]="totalData" [pageSizeOptions]="pageSizes"
    showFirstLastButtons></mat-paginator>
</div> -->
