<div class="outer-container container-fluid">
  <div *ngIf="!submitted">
    <div class="logo-container text-center mt-4 mb-2">
      <img style="width: 250px;" src="assets/images/logo1.svg" alt="khiffa logo">
    </div>
    <form class="mx-auto mb-4" (ngSubmit)="resetPassword()">
      <h4 class="text-center">إدخال كلمة مرور جديدة</h4>
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">البريد الإلكتروني</label>
        <input class="form-control" type="text" [value]="email" disabled readonly>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">كلمة المرور*</label>
        <input type="password" class="form-control" id="password" placeholder="أدخل كلمة المرور" [(ngModel)]="password" name="password">
      </div>
      <div class="mb-3">
        <label for="password_confirmation" class="form-label">تأكيد كلمة المرور الجديدة*</label>
        <input type="password" class="form-control" id="password_confirmation" placeholder="أدخل كلمة المرور" [(ngModel)]="password_confirmation" name="password_confirmation">
      </div>
      <button type="submit" class="btn btn-primary mt-3">حفظ</button>
    </form>
  </div>

  <div *ngIf="submitted" class="submitted-message">
    <h4 class="text-center">تم إعادة تعيين كلمة المرور بنجاح!</h4>
    <p class="text-center">لقد تم تغيير كلمة المرور بنجاح. يمكنك الآن تسجيل الدخول باستخدام البريد الإلكتروني الجديد وكلمة المرور الجديدة.</p>
    <button class="btn btn-primary mt-3" routerLink="/auth/login">العودة إلى صفحة تسجيل الدخول</button>
  </div>
</div>
