<div class="out-container container-fluid">
  <div class="logo-container text-center mt-4 mb-2">
    <img style="width: 250px;" src="assets/images/logo2.png" alt="khiffa logo">
  </div>
  <form class="mx-auto mb-4">
    <h4 class="text-center">نسيان كلمة المرور</h4>
    <div class="mb-3 mt-5">
      <label for="exampleInputEmail1" class="form-label">البريد الإلكتروني*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="أدخل البريد الإلكتروني">
    </div>


    <a type="submit" class="btn btn-primary mt-2" href="auth/otp-code">استمرار</a>

