.out-container{
  height: 50%;
}

form{
  width: 80%; //Adjusted for smaller screens
  max-width: 400px;
  background-color: white;
  padding: 50px;
  border-radius: 29px;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.08);
  margin: auto;

}

.form-control:focus {
  border-color: #FF204E;
  box-shadow: none;
}

.form-control::placeholder {
  color: #808080;
  font-size: 12px;
  font-weight: 300;
}

.form-label{
font-size: 14px;
font-weight: 500;
word-wrap: break-word
}


.btn-primary{
width: 100%;
background-color: #A0153E;
border-radius: 8px;
border-style: none;
}

h4{
  color: #00224D;
  font-size: 28px;
   word-wrap: break-word
}

@media only screen and (max-width: 600px) {
  form {
      width: 85% !important;
  }
}
