<div class="text-end mb-3">
  <button class="btn btn-primary" routerLink="/apps/support/" style="background-color: #A0153E; border-color: #A0153E;">طلب رفع تذكرة</button>
</div>

<div class="container mt-4">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>عنوان التذكرة</th>
        <th>الاسم</th>
        <th>التاريخ</th>
        <th>رقم التذكرة</th>
        <th>الحالة</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tickets">
        <td>
          <p class="fw-bold mb-1">{{ row.title }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ row.name }}</p>
        </td>
        <td>
          <p class="mb-1">{{ row.date }}</p>
          <p>{{ row.time }}</p>
        </td>
        <td>{{ row.id }}</td>
        <td>
          <span class="badge" [ngClass]="row.statusClass">{{ row.status }}</span>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded" routerLink="/apps/driver-ticket-answer/">عرض</button>
        </td>
      </tr>
    </tbody>
    <tr *ngIf="tickets.length == 0">
      <td colspan="6" class="text-center mt-2">
        <p>لا توجد بيانات حاليًا</p>
      </td>
    </tr>
  </table>
</div>
