
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$khiffa-primary: mat.define-palette(mat.$indigo-palette);
$khiffa-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$khiffa-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$khiffa-theme: mat.define-light-theme((
  color: (
    primary: $khiffa-primary,
    accent: $khiffa-accent,
    warn: $khiffa-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($khiffa-theme);

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

//map
@import "~leaflet/dist/leaflet.css";


@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "~ngx-spinner/animations/ball-spin-clockwise.css";

:root {
  --primary-color: #A0153E;
  --secondary-color: #FF204E;
  --background-color: #EDEDED; //EDEDED FAFAFA
  --title-color: #00224D;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #646464;
  --error-background-color: #FF204E80;
  --icon-background-color: #EAD19660;

  --sidenav-width: 250px;
  --sidenav-collapsed-width: 95px;


  // Colors of service providers on the map
  --lazza-color: #FF204E;
  --ghadaf-color: #00224D;
  --sahhil-color: #FF8144;
  --lazza-ghadaf-color:linear-gradient(180deg, #00224DB3 10%, #FF204EB3 100%);

  // Colors of orders statuses in charts
  --accepted-order-color: #2D9CDB;
  --pending-order-color: #F2A735;
  --completed-order-color: #87B6A1;
  --canceled-order-color: #DB79A9;

  //colort of tickets
  --open-ticket-color: #DD9A1970;
  --closed-ticket-color: #85858570;
  --on-hold-ticket-color: #FF700870;
  --under-processing-ticket-color: #FF204E70;


  //font sizes
  --title-font-size: 1.1rem;
  --form-placeholder: calc(10.5px + 0.1vw);
  --form--label: calc(12px + 0.1vw);
  --form--control: calc(12px + 0.1vw);
  // --button-text:
}



body{
  margin: 0;
  background-color: var(--background-color);
  font-family: 'tajawal';
}



