@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


:root {
  --primary-color: #A0153E;
  --secondary-color: #FF204E;
  --background-color: #FAFAFA;
  --title-color: #00224D;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #646464;
  --error-background-color: #FF204E80;
  --icon-background-color: #EAD19660;

  --sidenav-width: 250px;
  --sidenav-collapsed-width: 95px;


  // Colors of service providers on the map
  --lazza-color: #FF204E;
  --ghadaf-color: #00224D;
  --sahhil-color: #FF8144;
  --lazza-ghadaf-color:linear-gradient(180deg, rgba(0, 34, 77, 0.70) 10%, rgba(255, 32, 78, 0.70) 100%);

  // Colors of orders statuses in charts
  --accepted-order-color: #2D9CDB;
  --pending-order-color: #F2A735;
  --completed-order-color: #87B6A1;
  --canceled-order-color: #DB79A9;
}

// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }


body{
  margin: 0;
  background-color: var(--background-color); //EDEDED
  font-family: 'tajawal';
}


